- name: Disable PostgreSQL module
  become: true
  command: dnf module disable postgresql -y
  changed_when: false

- name: Install PGDG repository
  become: true
  dnf:
    name: https://download.postgresql.org/pub/repos/yum/reporpms/EL-9-x86_64/pgdg-redhat-repo-latest.noarch.rpm
    state: present
    disable_gpg_check: true

- name: Enable pgdg-common repository
  become: true
  command: dnf config-manager --set-enabled pgdg-common
  changed_when: false

- name: Install pgBackRest
  become: true
  dnf:
    name: pgbackrest
    state: present
