- name: Stop PostgreSQL
  service:
    name: postgresql
    state: stopped

- name: Restore PostgreSQL data from pgBackRest
  command: >
    pgbackrest --stanza={{ pgbackrest_stanza }} restore
  become_user: postgres

- name: Start PostgreSQL
  service:
    name: postgresql
    state: started
