patroni_scope: pg-cluster
patroni_namespace: /service/

patroni_rest_port: 8008

postgresql_version: 15
postgresql_data_dir: /var/lib/pgsql/15/data
postgresql_bin_dir: /usr/pgsql-15/bin

postgresql_superuser:
  username: postgres
  password: postgres

replication_user:
  username: replicator
  password: replicator

etcd_hosts:
  - 10.1.5.10:2379
  - 10.1.5.20:2379
  - 10.1.5.30:2379


patroni_pg_hba:
# 로컬 접속
  - "local   all             all                               trust"
  - "host    all             all              127.0.0.1/32    md5"

  # DB ↔ DB (Patroni / Replication)
  - "host    replication     replicator       10.1.5.0/24     md5"
  - "host    all             all              10.1.5.0/24     md5"

  # LB → DB (VIP 뒤 실제 source IP)
  - "host    all             all              10.1.1.0/24     md5"

  # 나머지는 전부 차단
  - "host    all             all              0.0.0.0/0       reject"