---
- name: Common setup
  hosts: all
  become: true
  roles:
    - common

- name: Redis
  hosts: redis
  become: true
  roles:
    - redis

- name: PostgreSQL
  hosts: storage
  become: true
  roles:
    - postgres

- name: Nginx
  hosts: web
  become: true
  roles:
    - nginx

- name: Was
  hosts: was
  become: true
  roles:
    - was

- name: AI Processing
  hosts: ai_worker
  become: true
  roles:
    - ai_processing

- name: Monitoring
  hosts: monitoring
  become: true
  roles:
    - monitoring

- name: DR / Backup
  hosts: dr
  become: true
  roles:
    - dr
