---
- name: Common setup
  hosts: all
  become: true
  roles:
    - common

- name: Redis1
  hosts: redis1
  become: true
  roles:
    - redis1

- name: Redis2
  hosts: redis2
  become: true
  roles:
    - role: redis2
      tags: redis2

- name: Nginx
  hosts: web
  become: true
  roles:
    - nginx

- name: Was
  hosts: was
  become: true
  roles:
    - was

- name: AI Processing
  hosts: ai_worker
  become: true
  roles:
    - role: ai_processing
      tags: ai_processing


- name: Baseline (optional)
  hosts: all
  become: true
  roles:
    - node_exporter
    - promtail  

- name: Monitoring stack
  hosts: monitoring
  become: true
  roles:
    - prometheus
    - loki
    - grafana

- name: DR / Backup
  hosts: dr1
  become: true
  roles:
    - dr
- import_playbook: dr_ha.yml
- import_playbook: pgsql-patroni.yml
- import_playbook: pgsql-haproxy.yml
- import_playbook: pgsql-keepalived.yml
- import_playbook: pgsql-postgresql.yml
- import_playbook: pgsql-etcd.yml
- import_playbook: prometheus.yml
- import_playbook: grafana.yml
- import_playbook: loki.yml
- import_playbook: promtail.yml
- import_playbook: node_exporter.yml
